<div class="container mt-5 pt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Duplicate submission!</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                The request has already been submitted to the administrator! You can contact administrator to renew the link. <br>
                <a href="mailto:orders@bostonappariasal.com">Click to Contact</a>
            </p>
        </div>
    </div>
</div>