<div class="container mt-5 pt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Thank you!</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                You've submitted all the required files and photos! Thank you for completing the request!<br>
                <a href="mailto:orders@bostonappraisal.com">Click to Contact</a>
            </p>
        </div>
    </div>
</div>