<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New request submitted!</title>
    <style>
        body { padding: 64px; font-family: sans-serif; }
        .text-center { text-align: center; }
        .logo { max-height: 100px; width: auto; }
        .button { display: inline-block; text-decoration: none; padding: 20px 30px; background-color: #324a47; border-radius: 10px; color: #fafafa !important; text-transform: uppercase; font-size: 1.5rem; }
        .button:hover { background-color: #b0b92c; }
        .button:visited { color: #fafafa !important; }
    </style>
</head>
<body>
<div class="text-center">
    <a href="https://bostonappraisalservices.com/" target="_blank">
        <img class="logo" src="https://www.bostonappraisal.com/wp-content/uploads/2019/05/bostonappraisal-logo-white-1.png" alt="Boston Appraisal Services" />
    </a>
</div>
<div class="note">
    <h1>New request submitted by borrower!</h1>
    <%- note %>
</div>
<div class="text-center">
    <a class="button" href="<%= url %>" target="_blank">
        Show
    </a>
</div>
</body>
</html>